@charset "UTF-8";

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #ccc;
}

.hero {
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content {
    color: white;
    margin: 80px auto 0 ;
    width: 80%;
    text-align: center;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 5px 2px 5px rgba(0,0,0,0.43);
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.527);
    margin: 80px;
    font-size: 18px;
    display: inline-block;
    padding: 1rem;
    border-bottom: 2px solid white;
}

.hero nav ul {
    margin: 20px 50px 0 0;
    text-align: right;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 1rem;
}

.hero a {
    background-color: rgba(0, 0, 0, 0.367);
    padding: 1rem;
    font-size: 14px;
    letter-spacing: 2px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.hero nav a:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: black;
    transition: .8s;
}

main {
    width: 80%;
    max-width: 860px;
    margin: auto;
}

article {
    background-color: white;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

article h2 {
    background-color: rgba(187, 185, 185, 0.685);
    text-indent: 1rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: 0px;
}

.btn {
    background-color: rgba(187, 185, 185, 0.685);
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.8s;
}

footer {
    background-color: rgb(67, 67, 67);
    color: white;
    text-align: center;
    padding: 10px;
}